/* Button list Form*/

/* Bedroom */
.button-list-bedroom,
/* Cookroom */
.button-list-cookroom{
    position: absolute;
    width: 525px;
    height: 500px;
    left: 59px;
    top: 10px;
    margin: 5% auto 15% auto; 
    background-color: white;
    border-radius: 20px;
    z-index: 2;    
}


/* Text "Available functions" */

/* Bedroom */
.available-functions-bedroom, 
/* Cookroom */
.available-functions-cookroom,
.freezer-has-open, .done_dish {
    padding: 4px;
    padding-top: 4%;
    font-size: 36px;
    font-family: 'Inter';
    text-align: center;
    color: black;
}


/* Button list */

/* Bedroom */
.container-for-button-bedroom,
/* Cookroom */
.container-for-button-cookroom,
.container-dishes, .make_dish {
    padding-top: 20px;
}

.container-for-button-bedroom button ,
/* Cookroom */
.container-for-button-cookroom button{ 
    padding: 10px 24px; 
    width: 100%; 
    display: block;
    text-align: left;

    font-family: 'Inter';
    background-color: white; 
    color: black;
    font-size: 36px;
}

/* Form */

/* Bedroom */
.form_go_to_sleep,
/* Cookroom */
.form_for_information, .form_for_dishes, .form_for_freezer {
    position: absolute;
    width: 355px;
    height: 500px;
    left: 1065px;
    top: 10px;
    margin: 5% auto 15% auto; 
    background-color: white;
    border-radius: 20px;
    z-index: 2;   
}

/* Bedroom */
.btn_go_to_sleep,
/* Cookroom */
.close_freezer, .making_dish {
    position: absolute;
    width: 228px;
    height: 44px;
    left: 60px;
    text-align: center;
    padding-top: 50%;

    background-color: white;
    font-family: 'Inter';
    color: black;
    font-size: 36px;
}

/* This class only for Bedroom */
.change_on_black {
    background-color: black;
}