/* Button list Form*/

/* Bedroom */
.button-list-bedroom,
/* Cookroom */
.button-list-cookroom,
/* Bathroom  */
.button-list-bathroom,
/* Livingroom */
.button-list-livingroom {
    position: absolute;
    width: 525px;
    height: 500px;
    left: 59px;
    top: 10px;
    margin: 5% auto 15% auto; 
    background-color: white;
    border-radius: 20px;
    z-index: 2;    
}


/* Text "Available functions" */

/* Bedroom */
.available-functions-bedroom, 
/* Cookroom */
.available-functions-cookroom,
.freezer-has-open, .done_dish,
/* Bathroom  */
.available-functions-bathroom,
.shower_is_working,
/* Livingroom */
.available-functions-livingroom, 
.choose_channel {
    padding: 4px;
    padding-top: 4%;
    font-size: 36px;
    font-family: 'Inter';
    text-align: center;
    color: black;
}


/* Button list */

/* Bedroom */
.container-for-button-bedroom,
/* Cookroom */
.container-for-button-cookroom,
.container-dishes, .make_dish,
/* Livingroom */
.container-for-button-livingroom,
.container-channels {
    padding-top: 20px;
}

.container-for-button-bedroom button,
/* Cookroom */
.container-for-button-cookroom button,
/* Bathroom  */
.container-for-button-bathroom,
.container-for-button-bathroom button,
/* Livingroom */
.container-for-button-livingroom button { 
    padding: 10px 24px; 
    width: 100%; 
    display: block;
    text-align: left;

    font-family: 'Inter';
    background-color: white; 
    color: black;
    font-size: 36px;
}

/* Form */

/* Bedroom */
.form_go_to_sleep,
/* Cookroom */
.form_for_information, .form_for_dishes, .form_for_freezer, 
/* Bathroom  */
.form_for_shower,
/* Livingroom */
.form_for_open_windows, .form_for_channel {
    position: absolute;
    width: 355px;
    height: 500px;
    left: 1065px;
    top: 10px;
    margin: 5% auto 15% auto; 
    background-color: white;
    border-radius: 20px;
    z-index: 2;   
}


/* List inside form */
/* Livingroom */
.channels {
    padding: 7px 20px; 
    width: 100%; 
    display: block;
    text-align: left;
    font-family: 'Inter';
    background-color: white; 
    color: black;
    font-size: 36px;
}

.channels li {
    padding-bottom: 6.5%;
}


/* Bedroom */
.btn_go_to_sleep,
/* Cookroom */
.close_freezer, .making_dish, 
/* Bathroom  */
.btn_shower,
/* Livingroom */
.btn_open_windows {
    position: absolute;
    width: 228px;
    height: 44px;
    left: 60px;
    text-align: center;
    padding-top: 50%;

    background-color: white;
    font-family: 'Inter';
    color: black;
    font-size: 36px;
}

/* This class only for Bedroom */
.change_on_black {
    background-color: black;
}