.head-livingroom {
    background: url("../../../images/livingroom.jpg");
    background-size: cover;
}

.container-for-button-livingroom button {
    padding: 13px;
    margin-left: 16px;
    width: 90%;
}